%p#notice= notice
%h1 Pokemons
%table.table.table-striped
  %thead
    %tr
      %th{:colspan => "3"}
  %tbody
    - @pokemons.each do |pokemon|
      %tr
        %td= pokemon['name'].capitalize
        %td.d-flex.justify-content-end= link_to 'Atrapar', pokemon, class: 'btn btn-danger'
